<div class="container mx-auto">

  <div class="flex items-center items-stretch justify-center flex-wrap">
    <div class="bg-white m-4 w-64 text-center rounded shadow flex-grow-0 align-text-bottom inline-block">
      <a class="block cursor-pointer" routerLink="/recipes">
        <img class="object-cover w-full rounded-t" src="assets/imgs/food-sample.jpg"/>
        <span class="flex-grow-0 inline-block leading-loose text-gray-800 font-bold m-2">Recipes</span>
      </a>
    </div>
    <div class="bg-white m-4 w-64 text-center rounded shadow flex-grow-0 align-text-bottom inline-block">
      <a class="block cursor-pointer" routerLink="/planner">
        <img class="object-cover w-full rounded-t" src="assets/imgs/food-sample.jpg"/>
        <span class="flex-grow-0 inline-block leading-loose text-gray-800 font-bold m-2">Meal Planner</span>
      </a>
    </div>
  </div>

</div>
