<div class="container md:mx-auto mx-4">

  <h1 class="text-3xl font-bold m-4">All Recipes</h1>

  <ul class="flex items-center items-stretch justify-center flex-wrap">
    <li *ngFor="let recipe of allRecipes" class="bg-white m-4 w-64 text-center rounded shadow flex-grow-0 align-text-bottom inline-block">
      <a routerLink="/recipe/{{recipe.id}}">
        <img class="object-cover w-full rounded-t" [src]="recipe.image"/>
        <span class="flex-grow-0 inline-block leading-loose text-gray-800 font-bold m-2">{{ recipe.title }}</span>
      </a></li>
  </ul>
</div>

